{% extends 'app_store/base.html' %}
{% load static %}
{% load i18n %}


{% block content %}
    <div class="supplyDiv">
        <h2 style="color: #e7eaf6;">{% trans "Создание поставки" %}</h2>
        <form method="post" id="supply-form">
            {% csrf_token %}
            <div class="supplyFormD pt-3">
                <div class="form-group">
                    <h5>{{ supply_form.provider.label|safe }}</h5>
                    {{ supply_form.provider }}
                </div>
                <h2>{% trans "Выбор товаров" %}</h2>
                <div id="goods-formset">
                    {{ supply_good_formset.management_form }}
                    {% for form in supply_good_formset %}
                        <div class="good-form {% if not forloop.first %}hidden{% endif %}">
                            <div class="form-group mb-3 mt-3">
                                <h5>{{ form.good.label|safe }}</h5>
                                {{ form.good }}
                            </div>
                            <div class="form-group">
                                <h5>{{ form.quantity.label|safe }}</h5>
                                {{ form.quantity }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="d-grid gap-2 col-6 mx-auto mt-4">
                    <button class="btn btn-light btnAdd" type="button" id="show-forms">{% trans "Добавить еще товар" %}</button>
                    <input class="btn btn-light mb-3 btnAdd" type="submit" value="{% trans 'Сохранить' %}">
                </div>
            </div>
        </form>
    </div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'app_store/js/supply.js' %}"></script>
{% endblock %}
