{% extends 'app_store/base.html' %}
{% load static %}


{% block content %}
  <h2>Создание поставки</h2>
<form method="post" id="supply-form">
    {% csrf_token %}
    {{ supply_form.as_p }}
    <h2>Товары в поставке</h2>
    <div id="goods-formset">
   {{ supply_good_formset.management_form }}
    {% for form in supply_good_formset %}
        <div class="good-form {% if not forloop.first %}hidden{% endif %}">
            {{ form.as_p }}
        </div>
    {% endfor %}
    </div>
    <button type="button" id="show-forms">Добавить еще товар</button>
    <input type="submit" value="Сохранить">
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    // Скрипт для добавления новых пустых форм
    var formCount = $('.good-form').length;
    var emptyForm = $('.good-form:first').clone();

    $('#add-good').click(function() {
        formCount++;
        var newForm = emptyForm.clone().find('input, select').val('').end();
        newForm.find('input[name*="good"]').attr('name', 'form-' + (formCount - 1) + '-good');
        newForm.find('input[name*="quantity"]').attr('name', 'form-' + (formCount - 1) + '-quantity');
        newForm.appendTo('#goods-formset');
    });

    // Скрипт для показа скрытых форм
    $('#show-forms').click(function() {
        $('.good-form.hidden:first').removeClass('hidden');
    });
});
</script>
{% endblock %}
