{% extends 'app_store/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
  <div class="container my-5">
    <div style="background-color: #113f67;" class="card">
      <div class="card-header">
        <h1 style="color: #e7eaf6">{% trans "Личный кабинет" %}</h1>
      </div>
      <div style="background-color: #6F94D2" class="card-body">
        <p class="card-text"><b>{% trans "Имя пользователя" %}</b>: {{ user.username }}</p>
        <p class="card-text"><b>Email:</b> {{ user.email }}</p>
        <p class="card-text"><b>{% trans "Дата рождения" %}:</b> {{ user.profile.birthday }}</p>
        <p class="card-text"><b>{% trans "Телефон" %}:</b> {{ user.profile.phone }}</p>
        <p class="card-text"><b>{% trans "Должность" %}:</b> {{ user.profile.position }}</p>
      </div>
    </div>
  </div>
{% endblock %}