{% extends 'app_store/base.html' %}
{% block content %}
<div class="container mt-4">
    <h1>Список поставок</h1>
    <div class="row">
        {% for supply in supplies %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-header" style="background-color: #113f67; color: #e7eaf6;">
                    <h4 class="card-title">Поставка №{{ supply.id }}</h4>
                </div>
                <div class="card-body" style="background-color: #6F94D2;">
                    <h5 class="card-subtitle mb-2 text-muted">Дата поставки: {{ supply.supply_date }}</h5>
                    <ul class="list-group list-group-flush">
                        {% for good in supply.supplygood_set.all %}
                        <li style="background-color: #e7eaf6;" class="list-group-item">
                            Товар: <strong>{{ good.good.name }}</strong><br>
                            Количество: <strong>{{ good.quantity }}</strong> <br>
                            Закупочная Стоимость: <strong>{{ good.total_cost }} RUB.</strong>
                        </li>
                        {% endfor %}
                    </ul>
                    <p class="card-text">
                        Общая закупочная стоимость товаров:<strong> {{ supply.total_cost }} RUB.</strong>
                    </p>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-md-12">
            <p>Нет поставки.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}