.header {
    height: 75px;
    background-color: #a4c7e0;
}
.linksDiv {
    width: 750px;
    display: flex;
    justify-content: space-between;
    font-size: 32px;
}
.linkItem:hover {
    color: #faa;
	box-shadow: 0 50px 5px rgba(0, 0, 0, 0.15) inset;
	transition: 0.3s linear all;
}

.addСategory {
    margin: 0 auto;
    display: flex-column;
    width: 250px;
    height: 150px;
    border: 1px solid black;
    text-align: center;
    background-color: #91d1ff;
    border-radius: 10px;
}
.editProviderContainer {
    margin: 0 auto;
    width: 450px;
    height: 650px;
    border: 1px solid black;
    text-align: center;
    background-color: #B0E0E6;
    border-radius: 10px;
}

.tableContainer{
    margin: 50px 100px;
    width: 1700px;
}
.smallTableContainer{
    margin: 0 auto;
    width: 500px;
}
td, th{
    max-width: 100px;
}
.editGoodContainer{
    margin: 0 auto;
    width: 450px;
    height: 850px;
    border: 1px solid black;
    text-align: center;
    background-color: #AFEEEE;
    border-radius: 10px;
}
.addProviderContainer{
    margin: 0 auto;
    width: 450px;
    height: 500px;
    border: 1px solid black;
    text-align: center;
    background-color: #B0E0E6;
    border-radius: 10px;
}
.filterForm{
    margin: 0 auto;
    width: 500px;
    background-color: grey;
}