.header {
    height: 75px;
    background-color: #113f67;
    margin-bottom: 30px;
}

.headerText {
    color: #e7eaf6;
    text-decoration: none;
}
.linksDiv {
    width: 850px;
    display: flex;
    justify-content: space-between;
    font-size: 32px;
    color: #e7eaf6;
}
.linkItem{
    margin: 0px;
    text-align: center;
    width: 250px;
    height: 75px;
}
.linkItem:hover {
    color: #faa;
	box-shadow: 0 75px 5px rgba(0, 0, 0, 0.15) inset;
	transition: 0.3s linear all;
}

.loginForm{
    background-color: #6F94D2;
    text-align: center;
}

.addСategory {
    margin-right: 50px;
    display: flex-column;
    width: 250px;
    height: 200px;
    border: 1px solid black;
    text-align: center;
    background-color: #6F94D2;
    border-radius: 10px;
}
.editProviderContainer {
    margin: 0 auto;
    padding: 10px;
    width: 450px;
    height: 650px;
    border: 1px solid black;
    text-align: center;
    background-color: #b1cefa;
    border-radius: 10px;
}

.tableContainer{
    width: 1500px;
}
.smallTableContainer{
    width: 700px;
}
td, th{
    max-width: 100px;
}

.pricesDiv{
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px;
    width: 350px;
    height: 250px;
    background-color: #8ecae6;
    border: 2px solid black;
}
.editGoodContainer{
    margin: 0 auto;
    width: 450px;
    min-height: 700px;
    border: 1px solid black;
    text-align: center;
    background-color: #b1cefa;
    border-radius: 10px;
}
.addProviderContainer{
    margin: 0 auto;
    width: 450px;
    min-height: 500px;
    border: 1px solid black;
    text-align: center;
    background-color: #b1cefa;
    border-radius: 10px;
}
.filterForm{
    margin: 50px;
    width: 200px;
    text-align: center;
    background-color: #6F94D2;
    border-radius: 15px;
}

.saleDiv{
    display: flex;
    width: 1800px;
    margin: 50px;
    padding: 20px;
    background-color: #113f67;
    border-radius: 10px;
}
.supplyDiv{
    margin: 0 auto;
    padding: 15px;
    width: 450px;
    min-height: 450px;
    background-color:  #113f67;
    text-align: center;
    border-radius: 10px;
}
.supplyFormD{
    background-color: #6F94D2;
}
.goodChoice{
    margin-right: 50px;
    width: 850px;
    background-color: #b1cefa;
    text-align: center;
    border-radius: 10px;
}
.price-display {
    margin: 0 auto;
    margin-top: 15px;
    width: 250px;
    background-color: #B1cefa;
    border-radius: 10px;
}
.saleItems{
    margin: 0 auto;
    padding: 20px;
    min-height: 260px;
    width: 750px;
    background-color: #6F94D2;
    text-align: center;
    border-radius: 10px;
}
.payMenu{
    width: 850px;
    background-color: #B1cefa;
    text-align: center;
    border-radius: 10px;

}
.hidden {
    display: none;
}

